spring.application.name=url-cutter
spring.datasource.url=jdbc:h2:file:{путь к месту хранения БД, начиная с диска}
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username={пользовательский логин}
spring.datasource.password={пользовательский пароль}
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.h2.console.enabled=true
spring.h2.console.path=/h2-console
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
sentry.dsn={ключ от сервиса Sentry.io}
sentry.traces-sample-rate=1.0